<h1>Stupid Coach</h1>
<br>
<br>
<br>
<div class="ans_ques">
  <p><%= @question %></p>
  <p><%= 'Your question!' %></p>
</div>
<br>
<br>
<div class="ans_ques">
  <p><%= @answer %></p>
  <p><%= 'Your coach!' %></p>
</div>
<br>
<p>
  <%= link_to "Ask a new question", "/ask" %>
</p>

